<div class="row">
    <div class="col-sm-8 offset-sm-4">
        <h3>Commentaires</h3>
        <div *ngFor="let comment of comments; let i = index">
            <div class="border border-secondary rounded p-2 mb-3 bg-light" *ngIf="comment.idPost === idArticle">
                <div class="d-flex justify-content-between">
                    <em>Le {{comment.Date}}</em>
                    <em>de: {{comment.Pseudo}}</em>
                </div>
                <p>"{{comment.Comment}}"</p>
            </div>
        </div>
    </div>
</div>