<div class="row">
    <div class="col-sm-8 offset-sm-4">
        <h4>Laisser un commentaire</h4>
        <form [formGroup]="commentForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="form-label" for="pseudo">Entrez un pseudonyme</label>
                        <input class="form-control" type="text" formControlName="pseudo">                        
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="comment" class="form-label">Votre commentaire</label>
                        <textarea class="w-100" name="comment"cols="30" rows="10" formControlName="comment"></textarea>
                    </div>
                    <p class="text-success" *ngIf="">Commentaire enregistré!</p>
                    <button class="btn btn-primary mb-5" [disabled]="commentForm.invalid">Soumettre</button>
                </div>
            </div> 
        </form>
    </div>
</div>